name: build

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        rust: [stable, nightly]

    steps:
    - uses: actions/checkout@master
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
    - name: Build agda-tac
      run: cargo build -p agda-tac --release --verbose
    - name: Run agda-tac tests
      run: cargo test -p agda-tac --release --verbose

    - uses: actions/upload-artifact@master
      if: matrix.os == 'ubuntu-latest'
      with:
        name: agda-tac-ubuntu
        path: target/release/agda-tac

    - uses: actions/upload-artifact@master
      if: matrix.os == 'macOS-latest'
      with:
        name: agda-tac-macos
        path: target/release/agda-tac

    - uses: actions/upload-artifact@master
      if: matrix.os == 'windows-latest'
      with:
        name: agda-tac-windows
        path: target/release/agda-tac.exe
